<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/default.xml"/>

	<springProperty scope="context" name="springAppName" source="spring.application.name" />

	<springProfile name="default">
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp>
						<timeZone>UTC</timeZone>
					</timestamp>
					<logLevel />
 					<pattern>
						<pattern>
							{
							"service": "${springAppName:-}",
							"trace": "%X{X-B3-TraceId:-}",
							"span": "%X{X-B3-SpanId:-}",
							"exportable": "%X{X-Span-Export:-}",
							"pid": "${PID:-}"
							}
						</pattern>
					</pattern>
					<threadName />
					<loggerName />
					<mdc />
					<message>
						<fieldName>@message</fieldName>
					</message>
				</providers>
			</encoder>
		</appender>
	    <root level="INFO">
	        <appender-ref ref="console" />
	    </root>
	</springProfile>
    
</configuration>